#index
  %h1 Nigel
  .content
    %h2 Feed
    %ul#tasks
      - if @tasks
        - @tasks.each do |task|
          %li.task
            %p
              = task[:source]
              = ':'
              = task[:content]
              - if task.class.to_s == 'Task'
                = link_to "Done?", task_path(task), method: :delete
      - if current_user
        %li#new= link_to "New Task",  new_task_path
