<!DOCTYPE html>
<html>
    <head>
        <title>Nigel</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= javascript_include_tag "speakClient" %>
        <%= csrf_meta_tags %>
    </head>
    <body data-id=<%= @user_id %>>

        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <% if current_user %>
                    <a class="brand" href="#">
                        <%= image_tag(current_user.facebook_profile_picture) %><strong><%= current_user.name %></strong>
                    </a>
                <% else %>
                  <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "brand" %>
                <% end %>
                <ul class="nav">
                </ul>
            </div>
        </div>

        <%= yield %>

        <div id="audio"></div>
    </body>
</html>

